{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../static/Tool/script.js"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/Tool/css/favicon-32x32.png "
    />
    <link href="https://fonts.cdnfonts.com/css/coolvetica" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Tool/css/style.css' %}"
    />
  </head>
  <body>
    <div class="header-container">
      <h1><a href="/">Toolkit ;)</a></h1>
        <span id="dark-mode-toggle" class="dark-mode-toggle">
          <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg>
        </span>
    </div>
    {% if not tools %}
    <p>No tools found.</p>
    {% else %} {% block content %}
    <div class="search-container" id="top">
      <form method="get" action="">
        <input
          type="text"
          name="q"
          placeholder="Search tools..."
          style="font-family: 'Coolvetica', sans-serif"
        />
        <button type="submit" style="font-family: 'Coolvetica', sans-serif">
          Search
        </button>
      </form>
    </div>
    <div class="filter-container">
      <div class="filter-block">
          <form id="filter-form" method="get" action="" class="filter-class">
            <select id="field" name="sort" class="select-field" onchange="this.form.submit()">
              <option value="drpbox-sort-asc">Sort By Name (A-Z)</option>
              <option value="drpbox-sort-desc">Sort By Name (Z-A)</option>
              <option value="drpbox-sort-date-asc">Date Added (Newest-Oldest)</option>
              <option value="drpbox-sort-date-desc">Date Added (Oldest-Newest)</option>
            </select>
          </form>
      </div>
    </div>
    <ul class="cards">
      {% for tool in tools %}
      <li>
        <a
          href="{{ tool.url }}"
          class="card__url"
          aria-label="{{ tool.name }}"
          target="blank"
        >
          <img
            src="{{ tool.image }}"
            class="card__image"
            alt="{{ tool.name }}"
          />
          <div class="card__space"></div>
          <div class="card__overlay">
            <div class="card__header">
              <img
                class="card__thumb"
                src="https://avatars.githubusercontent.com/u/85514668?v=4"
                alt=""
              />
              <div class="card__header-text">
                <h3 class="card__title">{{ tool.name }}</h3>
                <span class="card__tagline">{{ tool.category }}</span>
                <span class="card__status"
                  >{{ tool.created_at|timesince }}</span
                >
              </div>
            </div>
            <p class="card__description">{{ tool.description }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
      <li id="li__skeleton-loader">
        <a href="" class="card__url" aria-label="">
          <div class="card__image__skeleton skeleton"></div>
          <div class="card__space"></div>
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__thumb skeleton"></div>
              <div class="card__header-text">
                <h3 class="card__title">
                  <div class="skeleton skeleton-line"></div>
                </h3>
                <span class="card__tagline__skeleton">
                  <div class="skeleton skeleton-line"></div>
                </span>
                <span class="card__status">
                  <div class="skeleton skeleton-line"></div>
                </span>
              </div>
            </div>
            <div class="card__description">
              <div class="skeleton skeleton-line"></div>
              <div class="skeleton skeleton-line"></div>
              <div class="skeleton skeleton-line"></div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <footer class="footer">
      <div class="container">
        <div class="ftr_row">
          <div class="col-md-12">
            <p class="menu">
              <a href="#">About</a>
              <a href="https://github.com/Ahmedkel/" target="_blank">github</a>
              <a href="#">Contact us</a>
              <a href="#top">^
                {% comment %} <img width="16" height="16"
                  src='../static/Tool/css/arrow-up.png'
                  alt="Back to top"
                /> {% endcomment %}
              </a>
            </p>
          </div>
        </div>
        <div class="row-mt-5">
          <div class="col-md-12">
            <p class="copyright">
              Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              2024 All rights reserved | This Website is made with ❤ by <span href="https://github.com/Ahmedkel/" class="ftr_name_tag" target="_blank">Ahmed KELLOUCH</span>
            </p>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %} {% endif %}
  </body>
</html>
