{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Website Tools</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/Tool/css/favicon-32x32.png ">
    <link href="https://fonts.cdnfonts.com/css/coolvetica" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Tool/css/style.css' %}"
    />
  </head>
  <body>
    <div class="header-container">
      <h1><a href="/">Toolkit ;)</a></h1>
      <form method="get" action="">
        <input type="text" name="q" placeholder="Search tools..." style="font-family: 'Coolvetica', sans-serif;"/>
        <button type="submit" style="font-family: 'Coolvetica', sans-serif;">Search</button>
      </form>
    </div>
    {% if not tools %}
    <p>No tools found.</p>
    {% else %} {% block content %}
    <ul class="cards">
      {% for tool in tools %}
      <li>
        <a
          href="{{ tool.url }}"
          class="card__url"
          aria-label="{{ tool.name }}"
          target="blank"
        >
          <img
            src="{{ tool.image }}"
            class="card__image"
            alt="{{ tool.name }}"
          />
          <div class="card__space"></div>
          <div class="card__overlay">
            <div class="card__header">
              <img
                class="card__thumb"
                src="https://avatars.githubusercontent.com/u/85514668?v=4"
                alt=""
              />
              <div class="card__header-text">
                <h3 class="card__title">{{ tool.name }}</h3>
                <span class="card__tagline">{{ tool.category }}</span>
                <span class="card__status"
                  >{{ tool.created_at|timesince }}</span
                >
              </div>
            </div>
            <p class="card__description">{{ tool.description }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
      <li id="li__skeleton-loader">
        <a
          href=""
          class="card__url"
          aria-label=""
        >
          <div class="card__image__skeleton skeleton"></div>
          <div class="card__space"></div>
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__thumb skeleton"></div>
              <div class="card__header-text">
                <h3 class="card__title">
                  <div class="skeleton skeleton-line"></div>
                </h3>
                <span class="card__tagline__skeleton">
                  <div class="skeleton skeleton-line"></div>
                </span>
                <span class="card__status">
                  <div class="skeleton skeleton-line"></div>
                </span>
              </div>
            </div>
            <div class="card__description">
              <div class="skeleton skeleton-line"></div>
              <div class="skeleton skeleton-line"></div>
              <div class="skeleton skeleton-line"></div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    {% endblock %} {% endif %}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
    let isLoading = false;
    let page = 1; // Start with page 1

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
          if (!isLoading) {
            isLoading = true;
            page++;
            $('#li__skeleton-loader').show();
            loadMoreContent(page);
          }
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
      var cards = document.querySelectorAll(".card");
      var timeout;

      cards.forEach(function (card) {
        card.addEventListener("mouseenter", function () {
          timeout = setTimeout(function () {
            card.classList.add("hovered");
          }, 1000); // Delay in milliseconds
        });

        card.addEventListener("mouseleave", function () {
          clearTimeout(timeout);
          card.classList.remove("hovered");
        });
      });
    });
  </script>
</html>
